$app-color: #2c3e50;
$app-big-screen-width: 48em;
$app-nav-bar-height: 3em;

@function get-var($name, $width-size: "small") {
  $app-width: 100%;

  @if $width-size == "big" {  
    $app-width: 80%;
  }

  @if $name == "app-width" { @return $app-width; }
}